html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: cornflowerblue;
  color: antiquewhite;
  font-size: 25px;
}

p{
  text-align: center;
  margin-top: 75px;
}

.sublinhado{
  text-shadow:1px 1px 3px black;
  text-decoration:underline ;
}

a {
  color: inherit;
  text-decoration: none;
  margin-left: 75px;
}

li{
  list-style: none;
}

* {
  box-sizing: border-box;
}
